In [2]:
import pandas as pd

In [6]:
df_e09 = pd.read_csv('Data/SingleEpisodes/rutweetE09.csv')
df_e10 = pd.read_csv('Data/SingleEpisodes/rutweetE10.csv')
df_e11 = pd.read_csv('Data/SingleEpisodes/rutweetE11.csv')
df_e12 = pd.read_csv('Data/SingleEpisodes/rutweetE12.csv')
df_e13 = pd.read_csv('Data/SingleEpisodes/rutweetE13.csv')
df_e16 = pd.read_csv('Data/SingleEpisodes/rutweetE16.csv')

In [7]:
df_all = df_e09.append(df_e10).append(df_e11).append(df_e12).append(df_e13).append(df_e16)
df_all

                    source               target  weight
0      1000239363454787589             73463687       1
1      1000760395219587072  1331018240470917120       1
2      1000803583460368389  1151340112955019265       1
3      1000803583460368389   798205169330769920       1
4      1000879041501696000  1218767468954411011       1
...                    ...                  ...     ...
25569             99994203  1198827021104750592       1
25570             99994203             70740986       1
25571             99994317            158253154       1
25572   999955920858861569  1198827021104750592       1
25573   999955920858861569             70740986       1

[51269 rows x 3 columns]

In [8]:
df_all['weight'] = df_all.groupby(['source', 'target'])['weight'].transform('sum')
df_all_weight = df_all.drop_duplicates(subset=['source', 'target'])

In [9]:
df_all_weight

                    source               target  weight
0      1000239363454787589             73463687       1
1      1000760395219587072  1331018240470917120       1
2      1000803583460368389  1151340112955019265       2
3      1000803583460368389   798205169330769920       1
4      1000879041501696000  1218767468954411011       1
...                    ...                  ...     ...
25568   999701677677600768   973596382991912962       1
25569             99994203  1198827021104750592       1
25570             99994203             70740986       1
25571             99994317            158253154       1
25572   999955920858861569  1198827021104750592       1

[48444 rows x 3 columns]

In [10]:
df_all_weight.to_csv('Data/rutweet.csv',index=False)

In [11]:
df_all_weight[df_all_weight['weight']>14]

                   source               target  weight
243   1068681410444173314             89282580      23
357   1086796342435835905             70740986      30
479   1126589378342551553             70740986      15
952   1243758494622396418   798205169330769920      16
1569  1352387907760304129             70740986      15
2751           2927352126             70740986      17
3008           3297058346             70740986      15
3373            396226803             70740986      20
3395            400539441            400539441      23
4179   754555698055254016             70740986      26
4834   987711141622239232             70740986      24
3873           2610581527           3330717731      26
5351           4251855779             89282580      17
6331   750007937544970240             89282580      15
6799   861593548478697472   798205169330769920      16
843             215511993   967299284235440128      17
3520            386151053  1331018240470917120      25
3556            386151053             70740986      28
9471  1380006778012831747             70740986      15